body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
}
.head-left{
    width: 40%;
    padding: 100px;
}
.head-right{
    width: 60%;
}
.head-right img{
    height: 90%;
    width: 90%;
}
.head-left a{
    text-decoration: none;
    background-image: linear-gradient(blue,lightblue);
    padding: 10px 30px;
    color: white;
    border-radius: 40px;
    font-weight: 700;
}
.head-left span{
    color:rgb(50, 50, 211);
}
.head-left h1{
    font-size: 40px;
}
.mid{
    display: flex;
    padding: 20px 50px;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat:no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
.mid-left{
    width: 50%;
    
}
.mid-right{
    width: 50%;
    
}
.mid-left img{
    width: 50%;
}
.mid-right a{
    text-decoration: none;
    background-image: linear-gradient(blue,lightblue);
    padding: 10px 30px;
    color: white;
    border-radius: 40px;
    font-weight: 700;
}
.recipe{
    display: flex;
    padding: 30px 50px;
}
.recipe-left{
    width: 50%;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-left: 7px solid blueviolet;
    border-radius: 3px;
}
.recipe-right{
  width: 50%;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  margin-left: 5%;
    margin-right: 5%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-left: 7px solid blue;
  border-radius: 3px;
}
.recipe-left img{
    width: 60%;
    height: 60%;
}
.recipe-right img{
    width: 60%;
    height: 60%;
}
.mid-1 h1{
    text-align: center;
    color: cadetblue;
}
.mid-1 hr{
    width: 30px;

}
.mid-1 p{
    text-align: center;
}
.recipe-left p{
    text-align: justify;
}
.recipe-right p{
    text-align: justify;
}